@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import './Styles/overview.scss';
@import './Styles/reviews.scss';
$stars-color: rgb(255, 217, 0);

.banner {
  background-color: dimgray;
  width: 100%;
  height: 10%;
  text-align: left;
  padding: .3em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .5em;
  border-bottom: .3em solid rgb(48, 47, 47);
}

.header {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 2.5em;
  padding-left: .5em;
  display: inline-block;
}

.sub-header {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
  color: white;
  font-size: 1.3em;
  padding: .5em;
  margin: 0;
  display: inline-block;
}
.sparrow {
  height: 1em;
}

//star-rating
.star-rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $stars-color;
  color: white;
  font-size: 15px;
  height: 15px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.star-rating-upper {
  color: $stars-color;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

