$font-stack: "Lato", sans-serif;
$primary-color: dimgrey;
$title-text-size: 0.9em;
$body-width: 80%;
$text-size-1: 1em bold;
$text-size-2: 0.7em;
$padding-margin: 0.5em;
$stars-color: rgb(255, 217, 0);
//ratings & review container
.wrapper {
  margin-top: 5vh;
  width: $body-width;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5em 1fr;

  padding: 10px;
  font-family: $font-stack;
  color: $primary-color;
  overflow: auto;
  max-height: 100vh;

  .title {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-left: $padding-margin;
    margin-right: $padding-margin;
    font-size: $title-text-size;
  }

  .ratings {
    grid-column: 1;
    grid-row: 2;
    margin-left: $padding-margin;
  }
}

.reviews {
  grid-column: 2;
  grid-row: 2;
  margin-right: $padding-margin;
  display: grid;
  grid-template-rows: 1.5em 1fr;
  grid-gap: $padding-margin;

  .review-feed-container {
    overflow: auto;
    max-height: 70vh;
    grid-row: 2;
  }

  .review-container {
    padding-top: $padding-margin;
    padding-bottom: $padding-margin;
    border-bottom: solid $primary-color 0.5px;
    max-height: 400px;
  }
}

.text-style-1 {
  font: $text-size-1 $font-stack;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.margin-sides {
  margin-right: $padding-margin;
  margin-left: $padding-margin;
}

//review body
.text-style-2 {
  font: $text-size-2 $font-stack;
}

.user-and-date {
  float: right;
  font: $text-size-2 $font-stack;
}

.review-title {
  text-align: left;
}

//average rating for the product
.average-rating {
  font-size: 4em;
  margin-right: 0.3em;
}

.vertical-align {
  vertical-align: 200%;
}

.review-response-container {
  background-color: lightyellow;
  padding: 0.3em;
  height: fit-content;
}

.review-response {
  font: $text-size-2 $font-stack;
}

//check mark
:root {
  --borderWidth: 0.2em;
  --height: 0.7em;
  --width: 0.35em;
  --borderColor: dimgrey;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#sorting {
  border: 0px;
  outline: 0px;
  background-color: transparent;
  font-family: $font-stack;
  font-size: 1em;
  color: dimgrey;
}

.loadOrAdd-container {
  display: grid;
  grid-template-columns: 8em 9em;

  .load {
    grid-column: 1;
    padding: 1em;
    border: solid 0.1em;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .add {
    grid-column: 2;
    padding: 1em;
    border: solid 0.1em;
    border-radius: 0;
    background-color: transparent;
    margin-left: 1em;
    cursor: pointer;
  }
}

.photo-thumbnail {
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;
  background-color: white
}

.photo-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  margin: auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 80vh 10vh;
  .modal-content {
    grid-column: 1;
    grid-row: 2;
    background-color:white;
    padding: 2em;
    border: 1px solid #888;
    align-self: center;
    justify-self: center;
  }
}

.display-block {
  display: block;
}

/* Style the close button (span) */
.close {
  color: dimgray;
  float: right;
  padding-top: 0.3em;
  padding-right: 0.3em;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user-input-container {
  width: 70vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 3em 1.5em 6em 2em 3em 1.5em 1.5em 2em 2em 2em;
  overflow: auto;
  justify-self: center;

  .user-input-header {
    grid-row: 1;
    align-self: center;
  }
  .user-input-rating {
    grid-row: 2;
    align-self: center;
  }
  .user-input-recommend {
    grid-row: 3;
    align-self: center;
  }
  .user-input-summary {
    grid-row: 4;
    align-self: center;
  }
  .user-input-body {
    grid-row: 5;
    align-self: center;
  }
  .user-input-name {
    grid-row: 6;
    align-self: center;
  }
  .user-input-email {
    grid-row: 7;
    align-self: center;
  }
  .user-input-photos {
    grid-row: 8;
    align-self: center;
  }
  .user-input-characteristics {
    grid-row: 9;
    align-self: center;
  }

  .user-input-submit {
    grid-row: 10;
    align-self: center;
    justify-self: end;
  }
  .input1 {
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: $padding-margin;
    width: 300px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: $font-stack;
    resize: none;
  }
  .submit {
   float: right;
   margin-right: $padding-margin;
   margin-bottom: 1em;
   border-radius: 4px;
   border: 2px solid #ccc;
   font-family: $font-stack;
   color: $primary-color;
  }
  .chooseFile {
    margin-left: $padding-margin;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-family: $font-stack;
    color: $primary-color;
   }
}

//star rating breakdown
.breakdown-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(5, 1.5em);
  margin-right: 2em;

  .star-count {
    grid-column: 1;
    align-self: center;
  }

  .bar-container {
    grid-column: 2;
    margin: $padding-margin;
    background-color: lightgrey;
    align-self: center;

    .bar {
      align-self: center;
      height: 0.5em;
      background-color: rgb(118, 184, 118);
    }
  }

  .ratingCount {
    grid-column: 3;
    margin-right: 2em;
    align-self: center;
  }

  .for5 {
    grid-row: 1;
  }
  .for4 {
    grid-row: 2;
  }
  .for3 {
    grid-row: 3;
  }
  .for2 {
    grid-row: 4;
  }
  .for1 {
    grid-row: 5;
  }
}
  .characteristics-container {
    grid-column: 3;
    margin: $padding-margin;
    background-color: lightgrey;
    align-self: center;
}

/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
  display: inline-flex;
  vertical-align: -15%;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 15px;
}

/* set default star color */
.rating__icon--star {
  color: $stars-color;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: $stars-color;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
